---
title: About // DISCoverBEST
---
<main class="about">
  <section class="container section-1 hidden-sm hidden-xs">
    <div class="col-md-6 left">
      <h1>
        Talk about all your favorite music in one place.
      </h1>
      <row>
        <div class="col-xs-offset-1 col-xs-8">
          <a class="btn btn-block btn-primary btn-follow" href="http://eepurl.com/bz7nlX" target="_blank">Get Early Access</a>
        </div>
      </row>
    </div>
    <div class="col-md-6">
      <img src="http://i.imgur.com/UsQrJ2H.jpg" alt="">
    </div>
  </section>

  <section class="visible-sm visible-xs section-1-mobile">
    <div class="container text-center">
      <h1>
        Talk about all your favorite music in one place.
      </h1>
      <row>
        <div class="col-xs-offset-2 col-xs-8">
          <a class="btn btn-block btn-primary btn-follow" href="http://eepurl.com/bz7nlX" target="_blank">Get Early Access</a>
        </div>
      </row>
    </div>
  </section>


  <section class="section-2">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>What is DISCoverBEST?</h2>
          <p>DISCoverBEST is a platform for music <strong>micro-reviews</strong>. Review albums in 1,000 characters or less. Share them with your friends and follow other users.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-3 explainer-section">
    <div class="container">
      <div class="text-center">
        <h2>Read</h2>
      </div>
      <div class="row">
        <figure class="col-md-6">
          <img src="http://i.imgur.com/f9dTNxg.jpg" alt="" class="img-thumbnail">
        </figure>
        <article class="col-md-6">
          <p>
            See what people are saying about the newest albums. Dive deeper into the artists you know you love. Discover your next favorite album, old or new.
          </p>
        </article>
      </div>
    </div>
  </section>

  <section class="section-4 explainer-section hidden-sm hidden-xs">
    <div class="container">
      <div class="text-center">
        <h2>Review</h2>
      </div>
      <div class="row">
        <article class="col-md-6">
          <p>
            Rate the music you care about from 1-10. Write a short review of the album for others to read. Build a following of other users.
          </p>
        </article>
        <figure class="col-md-6">
          <img src="http://i.imgur.com/T6b89Va.jpg" alt="" class="img-thumbnail">
        </figure>
      </div>
    </div>
  </section>


  <!-- mobile only section 4 -->
  <section class="section-4 explainer-section visible-sm visible-xs">
    <div class="container">
      <div class="text-center">
        <h2>Review</h2>
      </div>
      <div class="row">

        <figure class="col-md-4 ">
          <img src="http://i.imgur.com/T6b89Va.jpg" alt="" class="img-thumbnail">
        </figure>
        <article class="col-md-6">
          <p>
            Rate the music you care about from 1-10. Write a short review of the album for others to read. Build a following of other users.
          </p>
        </article>
      </div>
    </div>
  </section>

  <!-- END mobile only section 4 -->

  <section class="section-5 explainer-section">
    <div class="container">
      <div class="text-center">
        <h2>Follow</h2>
      </div>
      <div class="row">
        <figure class="col-md-6">
          <img src="http://i.imgur.com/GqiAnmU.jpg" alt="" class="img-thumbnail">
        </figure>
        <article class="col-md-6">
          <p>
            Follow other users to curate your own feed. Browse through a custom stream of discussion from people you trust. Discover new music or hear what your community has to say about the music you already know.
          </p>
        </article>
      </div>
    </div>
  </section>

  <section class="section-6">
    <div class="container text-center">
      <h2>Join the community. Write, share, and read album reviews, right now.</h2>

      <!-- Begin MailChimp Signup Form -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
          <a class="btn btn-block btn-primary btn-follow" href="http://eepurl.com/bz7nlX" target="_blank">Get Early Access</a>
        </div>
      </div>

    </div>
  </section>
</main>
