---
title: DISCoverBEST | Spoon
---

<div class="container">
  <h1><strong>Artist//</strong> Spoon</h1>
  <div class="row">
    <main class="well col-xs-12 col-sm-9 artist-page-comp">
      <h2>Albums</h2>
      <h3><a href="#"><strong>Top</strong></a> / <a href="#">New</a></h3>
<!-- first album       -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
          <p class="score"><span class="score-number">8.1</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>
<!-- second album -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/345/MI0003345733.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">Girls Can Tell <span class="year">(2001)</span></a></p>
          <p class="score"><span class="score-number">8.0</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>

<!-- third album -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/359/MI0000359887.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">Kill the Moonlight <span class="year">(2002)</span></a></p>
          <p class="score"><span class="score-number">7.8</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>

<!-- fourth album -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/691/MI0000691671.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">Ga Ga Ga Ga Ga <span class="year">(2007)</span></a></p>
          <p class="score"><span class="score-number">7.8</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>

<!-- fifth album -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/151/MI0003151938.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">Transference <span class="year">(2010)</span></a></p>
          <p class="score"><span class="score-number">7.6</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>

<!-- sixth album -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0001/479/MI0001479424.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">Series of Sneaks <span class="year">(1998)</span></a></p>
          <p class="score"><span class="score-number">6.8</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>

<!-- seventh album -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/884/MI0000884430.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">Gimme Fiction <span class="year">(2007)</span></a></p>
          <p class="score"><span class="score-number">6.8</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>

<!-- eighth album -->
      <section class="row">
        <figure class="col-sm-4 col-xs-4">
          <a href="/album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/096/MI0000096196.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">Telephono <span class="year">(1996)</span></a></p>
          <p class="score"><span class="score-number">6.4</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-10 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><i class="fa fa-play"></i> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>
    </main>
  </div>
</div>
