<div class="container">
  <h1><a href="/browse-albums">Top Albums</a> or <a href="browse-users" class="active">Top Users</a></h1>
  <div class="row">
    <main class="well col-xs-12 col-sm-10 browse-user-comp">
      <h3>The top followed users of DISCoverBEST</h3>
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            1.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://i.imgur.com/rONGbiM.jpg?1" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="username">MollyKMcBride</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">187</a></p>
        </div>

        <div class="col-xs-3 text-center">
          <p>Reviews:</p>
          <p><a href="#">32</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            1.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://i.imgur.com/rONGbiM.jpg?1" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="username">MollyKMcBride</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">187</a></p>
        </div>

        <div class="col-xs-3 text-center">
          <p>Reviews:</p>
          <p><a href="#">32</a></p>
        </div>

      </section>
      <hr>

    </main>
  </div><!-- .row -->
</div><!-- .container -->
