---
title: DISCoverBEST | Top Albums
---

<div class="container">
  <h1><a href="/browse-albums" class="active">Top Albums</a> or <a href="/browse-users">Top Users</a></h1>
  <div class="row">
    <main class="well col-xs-12 col-sm-10 browse-album-comp">
      <h3>The top rated albums of DISCoverBEST</h3>
<!-- first album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            1.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/913/MI0000913328.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">The Beatles</a></p>
        </div>
          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Sgt Pepper's Lonely Hearts Club Band <span class="year">(1967)</span></a></p>
        </div>
          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">9.8</span> avg.</p>
        </div>
      </section>
      <hr>
<!-- second album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            2.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0002/433/MI0002433952.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">The Beach Boys</a></p>
        </div><!-- .artist-name -->

          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Pet Sounds <span class="year">(1966)</span></a></p>
        </div><!-- .album-title -->

          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">9.7</span> avg.</p>
        </div><!-- .score -->
      </section>
      <hr>
<!-- third album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            3.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="https://upload.wikimedia.org/wikipedia/en/7/74/Pink_Floyd-Animals-Frontal.jpg" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">Pink Floyd</a></p>
        </div><!-- .artist-name -->

          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Animals <span class="year">(1977)</span></a></p>
        </div><!-- .album-title -->

          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">9.4</span> avg.</p>
        </div><!-- .score -->
      </section>
      <hr>
<!-- fourth album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            4.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0001/651/MI0001651823.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">Bruce Springsteen</a></p>
        </div><!-- .artist-name -->

          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Born to Run <span class="year">(1975)</span></a></p>
        </div><!-- .album-title -->

          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">9.4</span> avg.</p>
        </div><!-- .score -->
      </section>
      <hr>
<!-- fifth album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            5.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2d/Alabama_Shakes_-_Sound_%26_Color_album_cover.jpg/440px-Alabama_Shakes_-_Sound_%26_Color_album_cover.jpg" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">Alabama Shakes</a></p>
        </div><!-- .artist-name -->

          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Sound &amp Color <span class="year">(2015)</span></a></p>
        </div><!-- .album-title -->

          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">9.1</span> avg.</p>
        </div><!-- .score -->
      </section>
      <hr>

<!-- sixth album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            6.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0001/831/MI0001831224.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">John Coltrane</a></p>
        </div>
          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">A Love Supreme <span class="year">(1965)</span></a></p>
        </div>
          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">9.0</span> avg.</p>
        </div>
      </section>
      <hr>

<!-- seventh album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            7.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/752/MI0000752317.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">Bob Marley &amp the Wailers</a></p>
        </div>
          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Catch a Fire <span class="year">(1973)</span></a></p>
        </div>
          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">9.0</span> avg.</p>
        </div>
      </section>
      <hr>

<!-- eighth album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            8.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/720/MI0000720925.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">The Band</a></p>
        </div>
          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">The Band <span class="year">(1969)</span></a></p>
        </div>
          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">8.9</span> avg.</p>
        </div>
      </section>
      <hr>

<!-- ninth album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            9.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0001/511/MI0001511716.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">Fleetwood Mac</a></p>
        </div>
          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Rumors <span class="year">(1973)</span></a></p>
        </div>
          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">8.8</span> avg.</p>
        </div>
      </section>
      <hr>

<!-- tenth album -->
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            10.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/359/MI0003359632.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-3 col-sm-3">
          <p><a href="/" class="artist-name">Paul Simon</a></p>
        </div>
          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Graceland <span class="year">(1986)</span></a></p>
        </div>
          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">8.8</span> avg.</p>
        </div>
      </section>
      <hr>

      <section class="text-center">
        <a href="#" class="btn btn-primary btn-lg">More Albums</a>
      </section>
    </main>
  </div><!-- .row -->
</div><!-- .container -->
