---
title: Top Users // DISCoverBEST
---

<div class="container">
  <h1><a href="/browse-albums">Top Albums</a> or <a href="browse-users" class="active">Top Users</a></h1>
  <div class="row">
    <main class="well col-xs-12 col-sm-10 browse-user-comp">
      <h3>The top followed users of DISCoverBEST</h3>
      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            1.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/women/42.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Leenabeaz</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">192</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">32</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            2.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/men/87.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Crawlerbo</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">187</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">42</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            3.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/women/91.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Cudandsm</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">186</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">34</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            4.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/women/62.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Moonbrowti</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">178</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">66</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            5.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/men/43.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Lemonico</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">173</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">14</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            6.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/men/36.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Cudandsm</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">171</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">32</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            7.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/men/59.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">RazuLil22</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">164</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">71</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            8.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/men/98.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Funnyonym</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">163</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">35</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            9.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/women/53.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">Libersy</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">163</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">100</a></p>
        </div>

      </section>
      <hr>

      <section class="row">
        <div class="col-xs-1 col-sm-1 rank">
          <p>
            10.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="/user"><img src="https://randomuser.me/api/portraits/med/men/77.jpg" alt="" class="img-circle"></a>
        </figure>

        <div class="col-xs-3 col-sm-3">
          <p><a href="/user" class="username">BalGood</a></p>
        </div><!-- username -->

        <div class="col-xs-3 text-center">
          <p>Followers:</p>
          <p><a href="#">160</a></p>
        </div>

        <div class="col-xs-2 text-center">
          <p>Reviews:</p>
          <p><a href="#">11</a></p>
        </div>

      </section>
      <hr>

      <section class="text-center">
        <a href="#" class="btn btn-primary btn-lg">More Users</a>
      </section>

    </main>
  </div><!-- .row -->
</div><!-- .container -->
