---
title: DISCoverBEST | Top Albums
---

<div class="container">
  <h1><a href="/browse-albums" class="active">Top Albums</a> or <a href="/browse-users">Top Users</a></h1>
  <div class="row">
    <main class="well col-xs-12 col-sm-10 browse-album-comp">
      <h3>The top rated albums of DISCoverBEST</h3>
      <section class="row">

        <div class="col-xs-1 col-sm-1 rank">
          <p>
            1.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2d/Alabama_Shakes_-_Sound_%26_Color_album_cover.jpg/440px-Alabama_Shakes_-_Sound_%26_Color_album_cover.jpg" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-2 col-sm-3">
          <p><a href="/" class="artist-name">Alabama Shakes</a></p>
        </div>
          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">Sound &amp Color <span class="year">(2015)</span></a></p>
        </div>
          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">8.5</span> avg.</p>
        </div>

      </section>
      <hr>

      <section class="row">

        <div class="col-xs-1 col-sm-1 rank">
          <p>
            2.
          </p>
        </div><!-- .rank -->

        <figure class="col-xs-2 col-sm-2">
          <a href="#"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt="" /></a>
        </figure>
          <!-- artist-name -->
        <div class="col-xs-2 col-sm-3">
          <p><a href="/" class="artist-name">Spoon</a></p>
        </div><!-- .artist-name -->

          <!-- Album title -->
        <div class="col-xs-4 col-sm-4">
          <p><a href="#" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
        </div><!-- .album-title -->

          <!-- Score -->
        <div class="col-xs-1 col-sm-2">
          <p class="score"><span class="score-number">7.8</span> avg.</p>
        </div><!-- .score -->

      </section>
      <hr>
    </main>
  </div><!-- .row -->
</div><!-- .container -->
