---
title: DISCoverBEST | Home
---

<div class="container">
  <h1>Featured Albums</h1>
  <!-- Featured Album Comp -->
  <div class="row">
    <aside class="well col-sm-3 col-xs-10 album-comp">
      <div class="row">
        <figure class="col-xs-4 col-sm-12">
          <a href="/album.html">
            <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt="" />
          </a>
        </figure>
        <figcaption class="col-xs-8 col-sm-12">
          <hr class="hidden-xs">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
          <hr class="hidden-xs">
          <p class="score"><span class="score-number">7.8</span> avg.</p>
        </figcaption>
      </div>
    </aside>

    <aside class="well col-sm-3 col-xs-10 album-comp">
      <div class="row">
        <figure class="col-xs-4 col-sm-12">
          <a href="/album.html">
            <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt="" />
          </a>
        </figure>
        <figcaption class="col-xs-8 col-sm-12">
          <hr class="hidden-xs">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
          <hr class="hidden-xs">
          <p class="score"><span class="score-number">7.8</span> avg.</p>
        </figcaption>
      </div>
    </aside>

    <aside class="well col-sm-3 col-xs-10 album-comp">
      <div class="row">
        <figure class="col-xs-4 col-sm-12">
          <a href="/album.html">
            <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt="" />
          </a>
        </figure>
        <figcaption class="col-xs-8 col-sm-12">
          <hr class="hidden-xs">
          <p><a href="#" class="artist-name">Spoon</a></p>
          <p><a href="/album.html" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
          <hr class="hidden-xs">
          <p class="score"><span class="score-number">7.8</span> avg.</p>
        </figcaption>
      </div>
    </aside>
  </div>

  <div class="row">
    <div class="well col-xs-12 feed-comp">
      <h1>Top Reviews</h1>
      <section class="row">
        <!-- Album Comp -->
        <aside class="col-sm-3 col-xs-10 album-comp">
          <hr class="visible-xs">
          <div class="row">
            <figure class="col-xs-4 col-sm-12">
              <a href="/album.html">
                <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt="" />
              </a>
            </figure>
            <figcaption class="col-xs-8 col-sm-12">
              <hr class="hidden-xs">
              <p><a href="#" class="artist-name">Spoon</a></p>
              <p><a href="/album.html" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
              <hr class="hidden-xs">
              <p class="score"><span class="score-number">7.8</span> avg.</p>
              <hr class="visible-xs">
            </figcaption>
          </div>
        </aside>

        <article class="col-xs-12 col-sm-8 review-comp">
          <p><a href="#" class="review-title"><span class="review-score">8/10</span>// My first long review</a></p>
          <!-- User inline comp -->
          <div class="row user-inline-comp">
            <figure class="user-pic col-sm-2 col-xs-2">
              <img src="https://pbs.twimg.com/profile_images/668524655221739520/QalLNZdn_400x400.jpg" alt="" class="img-circle">
            </figure>
            <div class="col-sm-4 col-xs-5">
              <a href="#" class="username">DaveRay11</a>
            </div>
            <div class="col-sm-4 hidden-xs">
              <a href="#" class="btn btn-block btn-primary btn-follow"><i class="fa fa-user"></i> Follow</a>
            </div>
            <div class="col-xs-4 visible-xs">
              <a href="#" class="btn btn-block btn-primary btn-follow"><i class="fa fa-user"></i> +</a>
            </div>
          </div>

          <p class="review-body">
            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack.  Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How quickly daft jumping zebras vex. Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs! "Now fax quiz Jack! " my brave ghost pled. Five quacking zephyrs jolt my wax bed. Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the
          </p>

          <p><a href="#" class="like-btn"><i class="fa fa-heart-o"></i> Like this review</a></p>

          <p class="review-controls"><a href="#"><i class="fa fa-share-square-o"></i> Share</a> | 01/26/16 | <a href="#" class="report-btn">Report</a> | <a href="#" class="delete-btn"> <i class="fa fa-times-circle-o"></i> Delete</a></p>
        </article>
      </section>
      <hr class="review-divider hidden-xs">

      <section class="row">
        <!-- Album Comp -->
        <aside class="col-sm-3 col-xs-10 album-comp">
          <hr class="visible-xs">
          <div class="row">
            <figure class="col-xs-4 col-sm-12">
              <a href="/album.html">
                <img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt="" />
              </a>
            </figure>
            <figcaption class="col-xs-8 col-sm-12">
              <hr class="hidden-xs">
              <p><a href="#" class="artist-name">Spoon</a></p>
              <p><a href="/album.html" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
              <hr class="hidden-xs">
              <p class="score"><span class="score-number">7.8</span> avg.</p>
              <hr class="visible-xs">
            </figcaption>
          </div>
        </aside>

        <article class="col-xs-12 col-sm-8 review-comp">
          <p><a href="#" class="review-title"><span class="review-score">8/10</span>// My first long review</a></p>
          <!-- User inline comp -->
          <div class="row user-inline-comp">
            <figure class="user-pic col-sm-2 col-xs-2">
              <img src="https://pbs.twimg.com/profile_images/668524655221739520/QalLNZdn_400x400.jpg" alt="" class="img-circle">
            </figure>
            <div class="col-sm-4 col-xs-5">
              <a href="#" class="username">DaveRay11</a>
            </div>
            <div class="col-sm-4 hidden-xs">
              <a href="#" class="btn btn-block btn-primary btn-follow following"><i class="fa fa-user"></i> Following</a>
            </div>
            <div class="col-xs-4 visible-xs">
              <a href="#" class="btn btn-block btn-primary btn-follow following"><i class="fa fa-user"></i> ✔ ︎</a>
            </div>
          </div>

          <p class="review-body">
            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack.  Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How quickly daft jumping zebras vex. Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs! "Now fax quiz Jack! " my brave ghost pled. Five quacking zephyrs jolt my wax bed. Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the
          </p>

          <p><a href="#" class="like-btn liked"><i class="fa fa-heart"></i> Review Liked</a></p>

          <p class="review-controls"><a href="#"><i class="fa fa-share-square-o"></i> Share</a> | 01/26/16 | <a href="#" class="report-btn">Report</a></p>
        </article>
      </section>
      <hr class="review-divider hidden-xs">
    </div>
  </div>
</div>
