---
title: DISCoverBEST | Search Results
---

<div class="container">
  <h1>Search Results</h1>
  <div class="row">
    <div class="well col-sm-9 col-xs-10 search-results-comp">
      <h3>Because you searched for "X"</h3>
      <p class="result-key">Album</p>
      <section class="row album-result-comp artist-page-comp">
        <figure class="col-sm-4 col-xs-4">
          <a href="album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0003/762/MI0003762045.jpg?partner=allrovi.com" alt=""></a>
        </figure>
        <figcaption class="col-xs-8">
          <p><a href="artist.html" class="artist-name">Spoon</a></p>
          <p><a href="album.html" class="album-title">They Want My Soul <span class="year">(2014)</span></a></p>
          <p class="score"><span class="score-number">7.8</span> avg.</p>

          <div class="row">
            <div class="album-btns col-xs-8 col-sm-6">
              <a href="#" class="btn btn-block btn-primary btn-review">Rate/Review</a>

              <a href="#" class="btn btn-block btn-primary btn-listen"><span class="fa fa-play"></span> Listen</a>
            </div>
          </div>
        </figcaption>
      </section>
      <hr>
      <!-- end Album result -->

      <p class="result-key">Artist</p>
      <section class="row artist-result-comp">
        <figcaption class="col-xs-6 col-sm-4">
          <p><a href="artist.html" class="artist-name">My Morning Jacket</a></p>
        </figcaption>
        <figure class="col-xs-6 col-sm-6">
          <p>Top Album:</p>
          <div class="row">
            <div class="col-xs-6 col-sm-5">
              <a href="album.html"><img src="http://cps-static.rovicorp.com/3/JPG_400/MI0000/797/MI0000797861.jpg?partner=allrovi.com" alt="" /></a>
            </div>
          </div>
        </figure>
      </section>
      <hr>
      <!-- end Artist Result -->
      <section class="row user-result-comp user-page-comp">
          <figure class="col-xs-4 col-sm-3">
            <a href="user.html"><img src="http://i.imgur.com/rONGbiM.jpg?1" alt="" class="img-circle"></a>
          </figure>

          <figcaption class="col-sm-5 col-xs-5">
            <a href="user.html" class="username">MollyKMcBride</a>
            <div class="follower-comp col-xs-12 col-sm-10">
              <p>Followers: <a href="#">67</a></p>
              <p>Following: <a href="#">120</a></p>
              <p>Reviews: <a href="#">26</a></p>
            </div>
          </figcaption>

          <div class="col-sm-3 hidden-xs">
            <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> Following</a>
          </div>
          <div class="col-xs-3 visible-xs">
            <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> <span class="fa fa-check"></span></a>
          </div>
      </section>
      <!-- end User Result -->
    </div>
  </div>
</div>
